In [1]:
import pandas as pd
import numpy as np
import re
import string

In [2]:
df=pd.read_csv('crowvsraven.txt')
df.to_csv('crowvsraven.csv', index=None)

In [3]:
df.head()

,Scientific name,common name,size,weight,nesting place,lifespan,country
0,Corvus bennetti,little crow,38-45cm,290-500g,trees,14-20,Australia
1,Corvus coronoides,Australian raven,46-53cm,650g,trees,22,Australia
2,Corvus meeki,bougainville crow,40-41cm,NaN,trees,6-10,Australia
3,Corvus mellori,little raven,48-50cm,365-660g,trees,15-20,Australia
4,Corvus moneduloides,newCaledonian crow,40-43cm,225-355g,trees,NaN,Australia

In [4]:
df.weight = df['weight'].replace('[g,]', '', regex=True)
df.size = df['size'].replace('[cm,]', '', regex=True)

#find average size
filter = pd.notna(df['size'])
split_df = df['size'].str.split('(-)', expand=True)
split_df = split_df.where(filter)
num_one = pd.to_numeric(split_df[0])
num_two = pd.to_numeric(split_df[2])
df['average size'] = (num_one+num_two)/2

In [5]:
#find average weight
filter = pd.notna(df['weight'])
split_df_weight = df['weight'].str.split('(-)', expand=True)
split_df_weight = split_df_weight.where(filter)
num_weightone = pd.to_numeric(split_df_weight[0])
num_weighttwo = pd.to_numeric(split_df_weight[2])
df['average weight'] = (num_weightone+num_weighttwo)/2

In [6]:
#find average lifespan
filter = pd.notna(df['lifespan'])
split_df_lifespan = df['lifespan'].str.split('(-)', expand=True)
split_df_lifespan = split_df_lifespan.where(filter)
num_lifespanone = pd.to_numeric(split_df_lifespan[0])
num_lifespantwo = pd.to_numeric(split_df_lifespan[2])
df['average lifespan'] = (num_lifespanone+num_lifespantwo)/2

In [7]:
#find crow or raven
split_df_crowraven = df['common name'].str.split(' ', expand=True)
df['crow or raven'] = split_df_crowraven[1]
df.head()

,Scientific name,common name,size,weight,nesting place,lifespan,country,average size,average weight,average lifespan,crow or raven
0,Corvus bennetti,little crow,38-45,290-500,trees,14-20,Australia,41.5,395.0,17.0,crow
1,Corvus coronoides,Australian raven,46-53,650,trees,22,Australia,49.5,NaN,NaN,raven
2,Corvus meeki,bougainville crow,40-41,NaN,trees,6-10,Australia,40.5,NaN,8.0,crow
3,Corvus mellori,little raven,48-50,365-660,trees,15-20,Australia,49.0,512.5,17.5,raven
4,Corvus moneduloides,newCaledonian crow,40-43,225-355,trees,NaN,Australia,41.5,290.0,NaN,crow

In [8]:
#crowvsraven_csv = df.to_csv()

In [9]:
table=pd.crosstab(index=df['crow or raven'], columns=df['average size'])
table_weight=pd.crosstab(df['crow or raven'], df['average weight'])
table_ls=pd.crosstab(df['crow or raven'], df['average lifespan'])
print(table_ls)

average lifespan  7.5   8.0   12.0  12.5  14.0  16.0  17.0  17.5  37.5
crow or raven
crow                 2     2     1     0     1     1     3     0     0
raven                0     1     0     1     0     0     0     1     1

In [10]:
from scipy.stats import chi2_contingency
chi2, pval, dof, expected=chi2_contingency(table)

In [11]:
print(pval)
size_pval = pval

0.1850397276153391

In [12]:
chi2, pval, dof, expected=chi2_contingency(table_weight)

In [13]:
weight_pval = pval
print(pval)

0.3368009019275335

In [14]:
chi2, pval, dof, expected=chi2_contingency(table_ls)
lifespan_pval = pval
print(pval)

0.217271459602131

In [16]:
agg_pvals = (size_pval+weight_pval+lifespan_pval)/3
print(agg_pvals)

0.24637069638166786

In [ ]:
#add more species within standard deviations of the mean weight, length, etc. to simulate whether different species are different

In [ ]:
#use model to see if it can predict crow or raven based on data